.all-tweets {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 90%;
  margin-top: 50px;
  border: 5px solid black;
}
.all-tweets:hover {
  box-shadow: 5px 5px 5px #C8C8C8;
}

.all-tweets header {
  display: flex;
  flex-direction: row;
  padding: 2%;
  margin-bottom: 2%;
}
#avatarIcon {
  width: 7.5%;
  height: 7.5%;
}
#nameDisplay {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-left: 0.5em;
}
#userID {
  display: flex;
  align-items: center;  
  margin-left: auto;
  font-size: 20px;
}
article p {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}
article footer {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid black;
  margin-left: 10px;
  margin-right: 10px;
}
#tweetDate {
  margin-top: 5px;
  font-size: 14px;
}

.fa-solid {
  color: #4056A1;
  font-size: 20px;
  width: 25px;
}

.fa-solid:hover {
  color: #FFCE37;
}
