html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color:#C0C0C0;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.body-container {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f4f1ec;
  margin-top: 220px;
  margin-right: 75px;
}

@media (max-width: 850px) {
  .body-container {
    flex-direction: column;
  }
  .container {
    margin-top: 25px;
  }
}

